{% extends "base.html" %}
{% block css %}
<!--<link rel="stylesheet" type="text/css" href="/static/css/default.css">-->
<!-- <link rel="stylesheet" type="text/css" href="/static/css/nouislider.css"> -->
<!-- div.demo { padding: 10px !important; }; -->
{% endblock css%}
{% block js %}

<script type="text/javascript">

  function submitForm(obj){
    $("#submittedJobDetailForm").submit();
  }

</script>

{% endblock js %}

{% block content %}

<!-- /.row -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">Job Submission status</h1>
  </div>
  <!-- /.col-lg-12 -->
</div>
<!-- /.row -->

<form action="/rnaseq/submittedJobDetail/" enctype="multipart/form-data" method="post" id = "submittedJobDetailForm" >
    {% csrf_token %} 
 <input type="hidden" value="{{submittedJob.id}}" name="submittedJobId" id ="submittedJobId"/>
 <div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        Job Submission status
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body" >
          <p>
	    Your job has been submitted. You can check the status of the submission by clicking <a href="#" onclick="javascript:submitForm(this);">here</a>.
	  </p>

	  </p>
      </div>
      <!-- /.panel-body -->
    </div>
    <!-- /.panel -->
  </div>
  <!-- /.col-lg-12 -->
 </div>
 <!-- /.row -->
 
   <p class="text-center">
      <button type="submit" class="btn btn-primary btn-lg" value = "0" name = "submitButton" id="submitButton" >Submit</button>
   </p> 
</form>
{% endblock content %}
